.header {
  width:700px;
  height:424px;
  margin:0 auto;
  background-image:url('./header.png');
  background-position:top center;
  background-repeat:no-repeat;
}

h3 {
  text-align:center;
  margin-bottom:50px!important;
}

p.action {
  text-align:center;
}

.body {
  margin-top:120px;
}

.body h2 {
  text-align:center;
  color:#666;
}

.body h5 {
  text-align:right;
  color:#999;
}

.body table {
  margin-bottom:3em;
}

.body table .detail {
  color:#7A7A7A;
}

.body table th {
  font-family: 'Merriweather', georgia, serif;
  font-size:20px;
  font-weight:bold;
  line-height:1em;
}

.body table td.left {
  width:100px;
  font-weight:bold;
  color:#8C8C8C;
}

.body table th, .body table td {
  padding-left:0px;
  padding-right:0px;
}

.body .disclaimer {
  background-color:lightblue;
  border:1px solid blue;
}

.facebook {
  width:600px;
  margin:0 auto;
}

.like {
  background-color:#fff;
  padding:5px 10px;
  box-shadow:0px 0px 5px #999;
  border-radius:20px;
  margin:1em 0 3em;
}

.like .right {
  font-family: 'Norican', cursive;
  font-weight:100;
  font-size:4em;
  line-height:1.6em;
  margin:0px!important;
  color:#75BFFF;
}

.like .left {
  display:inline;
  float:left;
}

@media screen and (max-width: 540px) {
  .header {
    width:280px;
    height:170px;
    margin:0 auto;
    background-image:url('/sites/all/themes/twitter_bootstrap/img/header_280.png');
  }

  .facebook {
    width:100%;
  }
}
